* {
  scrollbar-width: 10px;
  scrollbar-color: #333 #000;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
